body { 
    font: 13px Helvetica, Arial;
    /*background-color: #7E8F7C; */
    /*Gray*/
    background-color: #ddd;
    /*Orange*/
    /*background-color: #C63D0F;*/
    /*Vanilla?*/
    /*background-color: #FDF3E7;*/
}
#createGameForm select {
    min-width: 10em;
    background-color: #7E8F7C;
    /*background-color: #FDF3E7;*/
}
#createGame {
    min-height: 12em;
}
/*Game Interface*/

#grid,#gameData, #gameData > div{
    background-color: #7E8F7C;
    /*background-color: #C63D0F;*/
    display: inline-block;
    height:100%;
}
td.letterCell {
    padding: 0;
}
#gameData{
    float: right;
}
#gameAlertsBox {
    min-height: 5em;
    max-height: 5em;
    overflow: scroll;
}
#playerListBox{
    overflow: scroll;
    min-height: 10em;
    max-height: 15em;
}
#scoresBox{
    overflow: scroll;
    min-height: 15em;
    max-height: 20em;
}
#foundWordsBox{
    overflow: scroll;
    min-height: 5em;
    max-height: 10em;
}
/*End Of Game Interface*/
/*Chat */

#chat{
    background-color: ;
    height: 20em;
}
.messages{
    background-color: #C63D0F;
    min-height: 15em;
    max-height:15em;
}
.formBox{
    padding: 0;
    background-color: #C63D0F;
    height: 4em;
    max-height: 4em;
}
.sentMessage{
    color: green;
}
#gameMessageForm,#messageForm{ 
    /*Find Another Way To Do This
    /*position: fixed;*/
    bottom: 0;
    /*padding: .2em;*/
    width: 100%;
}
.messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
.messages li { 
    padding: 5px 10px; 
}
.messages li: nth-child(odd) { 
    background: #eee; 
}
/*End Tabs*/